[submodule "Appli/libs/stm32-mw-camera"]
	path = Appli/libs/stm32-mw-camera
	url = https://github.com/STMicroelectronics/stm32-mw-camera.git
[submodule "Appli/libs/stm32-mw-venc-ewl"]
	path = Appli/libs/stm32-mw-venc-ewl
	url = https://github.com/STMicroelectronics/stm32-mw-venc-ewl.git
[submodule "Appli/libs/stm32-mw-isp"]
	path = Appli/libs/stm32-mw-isp
	url = https://github.com/STMicroelectronics/stm32-mw-isp.git
[submodule "Appli/drv/stm32n6570-dk-bsp"]
	path = Appli/drv/stm32n6570-dk-bsp
	url = https://github.com/STMicroelectronics/stm32n6570-dk-bsp.git
[submodule "Appli/drv/cmsis-device-n6"]
	path = Appli/drv/cmsis-device-n6
	url = https://github.com/STMicroelectronics/cmsis-device-n6.git
[submodule "Appli/drv/stm32n6xx-hal-driver"]
	path = Appli/drv/stm32n6xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32n6xx-hal-driver.git
[submodule "Appli/drv/Components/stm32-mx66uw1g45g"]
	path = Appli/drv/Components/stm32-mx66uw1g45g
	url = https://github.com/STMicroelectronics/stm32-mx66uw1g45g.git
[submodule "Appli/drv/Components/aps256"]
	path = Appli/drv/Components/aps256
	url = https://github.com/STMicroelectronics/stm32-aps256.git
[submodule "Appli/drv/Components/rk050hr18"]
	path = Appli/drv/Components/rk050hr18
	url = https://github.com/STMicroelectronics/stm32-rk050hr18.git
[submodule "Appli/drv/Components/Appli/drv/Components/gt911"]
	path = Appli/drv/Components/Appli/drv/Components/gt911
	url = https://github.com/STMicroelectronics/stm32-gt911.git
[submodule "Appli/drv/Components/gt911"]
	path = Appli/drv/Components/gt911
	url = https://github.com/STMicroelectronics/stm32-gt911.git
[submodule "Appli/libs/stm32-mw-fatfs"]
	path = Appli/libs/stm32-mw-fatfs
	url = https://github.com/STMicroelectronics/stm32-mw-fatfs.git
